@using TPA.Infra.Services


@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro não tratado.";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_LayoutErro.cshtml";
}

<h1 class="text-danger">@Model.ActionName</h1>
<h3 class="text-info">@Model.ControllerName</h3>



<div class="container-fluid bordered spacer ">

    <div class="col-sm-3">
        <img src="~/Content/Images/erro.png" class="bordered " style="width:100%" />
    </div>
    <div class="col-sm-9">
        @if ((Model.Exception != null) && (!Request.IsAjaxRequest()))
        {
            <pre style="white-space:pre-line">
                @LogServices.ConcatenaExceptions(Model.Exception);
            </pre>
        }
    </div>

</div>

@if (!Request.IsAjaxRequest())
{

    <hr />
    <dl class="dl-horizontal  bordered spacer">
        <dt>
            Status
        </dt>
        <dd>
            @Response.Status
        </dd>


        <dt>
            Status Code
        </dt>
        <dd>
            @Response.StatusCode
        </dd>


        <dt>
            Sub Status Code
        </dt>
        <dd>
            @Response.SubStatusCode
        </dd>


        <dt>
            Status Description
        </dt>
        <dd>
            @Response.StatusDescription
        </dd>


    </dl>
    <hr />
}

