@using TPA.Infra.Services



@model TPA.ViewModel.ErroViewModel

@{
    ViewBag.Title = Model.Mensagem;
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_LayoutErro.cshtml";
    Exception LastError = Server.GetLastError();
}

<h1 class="text-danger">Erro</h1>

@if (Model != null)
{
    <h2 class="text-warning">@Model.Mensagem</h2>
    <h3 class="text-info">@Model.Descricao</h3>


    <div class="container-fluid ">

        <div class="col-sm-3">
            <img src="~/Content/Images/time.png" style="width:100%" />
        </div>
        <div class="col-sm-9">
            @Html.ActionLink("Efetuar Login", "Login", "Account", null, new { @class="btn btn-primary" } )
        </div>

    </div>

}
else if (LastError != null)
{
    <h2 class="text-warning">@LastError.Message</h2>

        <div class="container-fluid ">

            <div class="col-sm-3">
                <img src="~/Content/Images/time.png" style="width:100%" />
            </div>
            <div class="col-sm-9">
                @Html.ActionLink("Efetuar Login", "Login", "Account", null, new { @class = "btn btn-primary" })
            </div>

        </div>
}





